.header {
    background-color: $dark-blue;

    & __wrapper {
        display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    }
    &__navigation {
        display: block;
        position: absolute;
        width: 232;
        min-height: 764px;
        top:100%x;
        right: 0px;
        background: white;
    }

    &__botton {
        background-color: transparent;
        border: none;
        margin: 0 34px 0 0;
    }
    
    &__logo {
      margin: 0 10px 0 0;
    }
    
    &__person-link {
      margin: 0 34px 0 0;
    }
      
}

@media (max-width: 378px) {
  .header__person-link {
 display: none;
  }
  
}





