.brand {
    display: flex;
    margin:  0 0 63px;
    text-transform: uppercase;
    position: relative;

    @include tablet {
      margin: 0 0 19px;
    }

    .brand__img {
      width: 50%;
      height: auto;
      @include tablet {
        width: 385px;
        height: 370px;
      }
    }
  

.brand__title {
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;
position: relative;

@include tablet {
  @include font(44px, 53px)
}

&::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: $dark-pink;
    left: -20px;
}
  }

.brand__title-wrapper {
  padding: 0 0 0 91px;
  background-color: $pink;
  flex-grow: 1;
  display: flex;
  align-items: center;

  @include mobile {
    min-height: 363px;
  }
}

.brand__subtitle {
  display: block;
font-size: 32px;
font-weight: 700;
line-height: 38px;
}

.brand__subtitle--pink {
  color: $dark-pink;
}
}